services:
  postgres:
    image: postgres
    container_name: postgres
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./pg_hba.conf:/etc/postgresql/pg_hba.conf # Add this
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
      - /home/ec2-user/ssl_pg/server.crt:/var/lib/postgresql/ssl/server.crt:ro
      - /home/ec2-user/ssl_pg/server.key:/var/lib/postgresql/ssl/server.key:ro
    command:
      - postgres
      - -c
      - config_file=/etc/postgresql/postgresql.conf
      - -c
      - hba_file=/etc/postgresql/pg_hba.conf
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - shared

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_CONFIG_SERVER_MODE=False
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - SCRIPT_NAME=/pgadmin # ADD THIS
      - PGADMIN_CONFIG_X_FRAME_OPTIONS='SAMEORIGIN'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - shared

  keycloak:
    image: quay.io/keycloak/keycloak
    container_name: keycloak
    restart: unless-stopped
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_BOOTSTRAP_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USERNAME}
      KC_BOOTSTRAP_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HOSTNAME_STRICT: false
      KC_HTTP_ENABLED: true
      KC_PROXY_HEADERS: xforwarded
      KC_HOSTNAME: https://3.136.184.49
      KC_TRACING_ENABLED: true
      KC_TRACING_ENDPOINT: http://lgtm:${OTEL_GRPC}
    command:
      - start-dev
      - --features=hostname:v2,opentelemetry:v1
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - shared

  redis:
    image: redis:latest
    container_name: my-redis
    restart: unless-stopped
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes --requirepass ${REDIS_PASSWORD}
    env_file:
      - .env
    environment:
      - TZ=UTC
    networks:
      - shared
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    restart: unless-stopped
    volumes:
      - redisinsight-data:/data
    environment:
      - RI_PROXY_PATH=/redisinsight
    networks:
      - shared
    depends_on:
      - redis

  lgtm:
    image: docker.io/grafana/otel-lgtm:latest
    container_name: lgtm
    restart: unless-stopped
    ports:
      - ${OTEL_GRPC}:4317
      - ${OTEL_HTTP}:4318
    volumes:
      - grafana_data:/data/grafana
      - prometheus_data:/data/prometheus
      - loki_data:/data/loki
    environment:
      - GF_PATHS_DATA=/data/grafana
      - GF_SERVER_ROOT_URL=https://3.136.184.49/grafana # ADD THIS
      - GF_SERVER_SERVE_FROM_SUB_PATH=true # ADD THIS
    env_file:
      - .env
    networks:
      - shared

  nginx:
    image: nginx:latest
    container_name: reverse-proxy
    restart: unless-stopped
    ports:
      - ${NGINX_HTTP_PORT}:80
      - ${NGINX_HTTPS_PORT}:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /home/ec2-user/ssl:/etc/nginx/ssl:ro
    networks:
      - dev
      - qa
      - prod
      - shared
    depends_on:
      - keycloak
      - lgtm
      - pgadmin

volumes:
  postgres_data:
  pgadmin_data:
  redis-data:
  redisinsight-data:
  grafana_data:
  prometheus_data:
  loki_data:

networks:
  shared:
    external: true
  dev:
    external: true
  qa:
    external: true
  prod:
    external: true
