name: Deploy Backend
on:
  push:
    branches:
      - dev
      - master
      - qa
    paths:
      - "backend"
      - "backend/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set environment variables
        id: env
        run: |
          if [[ "${{ github.ref_name }}" == "master" ]]; then
            echo "environment=prod" >> $GITHUB_OUTPUT
            echo "build_args=" >> $GITHUB_OUTPUT
          else
            echo "environment=${{ github.ref_name }}" >> $GITHUB_OUTPUT
            echo "build_args=QUARKUS_PROFILE=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: maven

      - name: Build with Maven
        working-directory: ./backend/finstream
        run: ./mvnw clean package

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./backend/finstream
          file: ./backend/finstream/src/main/docker/Dockerfile.jvm
          platforms: linux/amd64
          push: true
          build-args: ${{ steps.env.outputs.build_args }}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/finstream-backend-java:${{ steps.env.outputs.environment }}
