name: Deploy Frontend
on:
  push:
    branches:
      - dev
      - master
      - qa
    paths:
      - "frontend"
      - "frontend/**"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set environment variables
        id: env
        run: |
          if [[ "${{ github.ref_name }}" == "master" ]]; then
            echo "environment=prod" >> $GITHUB_OUTPUT
          else
            echo "environment=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          platforms: linux/amd64
          push: true
          build-args: |
            BASE_PATH=/${{ steps.env.outputs.environment }}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/finstream-frontend:${{ steps.env.outputs.environment }}
